.body-teleprompter {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.teleprompter {
    width: 80%;
    height: 70vh;
    overflow: hidden;
    border: 2px solid #fff;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
}
.content {
    position: relative;
}

.controls {
    margin: 15px;
}